@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
.background {
    width: 100vw;
    height: 100vh;
    display:flex;
    background-color: hsl(212, 45%, 89%);
}
.content {
    /* setting center */
    width: 200px;
    height: 200px;
    display: block;
    margin:auto;
    padding-bottom: 120px;
    border: 12px white solid;
    border-radius: 15px;
    background-color: white;
    background-origin: content-box;
    box-shadow: rgba(200, 198, 198, 0.3) 0px 19px 38px, rgba(150, 149, 149, 0.22) 0px 15px 12px;
}
img{
    border-radius: 8px;
}
p, h3{
    text-align: center;
    font-family: "Outfit",sans-serif;
}
h3#text_1 {
    font-size: 16px;
    font-weight:700;
    padding: 10px;
}
p#text_2 {
    font-size: 11px;
    padding:3px 10px;
    color:hsl(212, 6%, 57%);
}